@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-custom {
  filter: blur(1px);
 
}
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  font-family: "IBM Plex Serif",serif;
  font-style: italic;
}

.p {
  font-family: "IBM Plex Serif",serif;
  font-style: italic;
}

.circle{
  background-color: red; 
  opacity: 0.7; 
  height: 60px; 
  width: 60px; 
  border-radius: 50%; 
  margin-right: 2.5rem; 
  margin-top: 3rem; 
  margin-bottom: 3rem; 
}
.blur-custom:hover{
  filter: blur(1000px);
}