@tailwind base;
@tailwind components;
@tailwind utilities;


.blur-custom {
  filter: blur(1px);
 
}
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  font-family: "IBM Plex Serif",serif;
  font-style: italic;
}

.p {
  font-family: "IBM Plex Serif",serif;
  font-style: italic;
}

.circle {
  background-color: rgb(167 243 208); 
  opacity: 0.7; 
  height: 60px; 
  width: 60px; 
  border-radius: 100px; 
  margin-right: 2.5rem; 
  margin-top: 3rem; 
  margin-bottom: 3rem; 
  transition: width 0.3s ease;
}


@media (min-width: 768px) {
  .md\:circle {
    @apply circle;
  }
}

.bg-common {
  background-color: white;

}


.circle:hover {
  width: 300px;
  border-radius: 100px;
}

.text{
  display: flex;

}
.text:hover{
   width: 200px;
   
}

@media (min-width: 768px) {
  .md\:text {
    @apply text;
  }
}